<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Iniciar Sesión</title>
<link rel="stylesheet" th:href="@{/css/iniciarsesion.css}">
</head>
<body>

	<header>
		<div class="logo">
			<a th:href="@{/}" class="index"> <img
				th:src="@{/imagenes/LOGOPEPU.png}"></a>
		</div>
	</header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="hero">
		<div class="login-container">
			<h2>INICIAR SESIÓN</h2>

			<form th:action="@{/login}" method="post">
				<label for="username">USUARIO:</label> <input type="text"
					id="username" name="username" required> <label
					for="password">CONTRASEÑA:</label> <input type="password"
					id="password" name="password" required>

				<button type="submit">
					enviar <span>&raquo;</span>
				</button>
			</form>

			<div th:if="${param.error}">
				<p style="color: red;">Usuario o contraseña incorrectos</p>
			</div>

			<div th:if="${param.logout}">
				<p style="color: green;">Has cerrado sesión correctamente</p>
			</div>
			<div th:if="${param.sessionExpired}">
				<p style="color: red;">Tu sesión ha expirado</p>
			</div>

			<div class="contenedorboton">
				<a th:href="@{/}">
					<button type="button">Volver</button>
				</a>
			</div>

		</div>
		<br>
		<br>
		<br>
	</div>

	<footer>
		<div class="footer-container">
			<div class="izda">
				<!-- Logotipo -->
				<div class="footer-logo">
					<img th:src="@{/imagenes/LOGOPEPU.png}" alt="Logo">
				</div>
			</div>
			<div class="dcha">
				<!-- Redes Sociales -->
				<br>
				<br>
				<br>
				<div class="footer-socials">
					<img th:src="@{/imagenes/insta.png}" alt="Logo"> <img
						th:src="@{/imagenes/fb.png}" alt="Logo"> <img
						th:src="@{/imagenes/wa.png}" alt="Logo">
				</div>

				<!-- footer -->
				<div class="footer-sections">
					<!-- Contacto -->
					<div class="footer-section contact">
						<h3>Contacto</h3>
						<p>
							<img class="icon" th:src="@{/imagenes/ubicacion.png}"> C/
							Avenida de la Reguera nº7, Langreo, Asturias
						</p>
						<p>
							<img class="icon" th:src="@{/imagenes/mail.png}"> Enviar
							email
						</p>
						<p>
							<img class="icon" th:src="@{/imagenes/telefono.png}">
							985-985-985
						</p>
					</div>

					<!-- Enlaces Destacados -->
					<div class="footer-section">
						<h3>Enlaces Destacados</h3>
						<ul>
							<li>Conoce nuestros servicios</li>
							<li>Descubre la nueva depilación con hilo</li>
							<li>Quiénes somos</li>
						</ul>
					</div>

					<!-- Textos Legales -->
					<div class="footer-section">
						<h3>Textos Legales</h3>
						<ul>
							<li>Aviso legal</li>
							<li>Política de cookies</li>
							<li>Política de privacidad</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>