<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PEPUCHA - Estética avanzada - Registrar producto</title>
<link rel="stylesheet" th:href="@{/css/registrarpersona.css}">
</head>
<body>
	<header>
		<div class="logo">
			<img th:src="@{/imagenes/LOGOPEPU.png}" alt="Logo">
		</div>
	</header>
	<main>
		<h2>GESTIÓN DE PRODUCTOS</h2>
		<h3>Registrar un nuevo producto</h3>

		<div class="form-container">
			<p>Introduzca los datos del nuevo producto.</p>
			<form th:action="@{/registrarproducto}" method="post">

				<label for="codigo">Código:</label> <input type="text" id="codigo"
					name="codigo" required>
				<p th:if="${errorCodigo}" th:text="${errorCodigo}"
					style="color: red;"></p>

				<label for="nombre">Nombre:</label> <input type="text" id="nombre"
					name="nombre" required> <label for="cantidad">Cantidad:</label>
				<input type="text" id="cantidad" name="cantidad" required> <label
					for="precio">Precio:</label> <input type="text" id="precio"
					name="precio" required>

				<button type="submit">
					Enviar <span>&raquo;</span>
				</button>
				<br>
				<div class="contenedorboton">
					<a th:href="@{/gestionproductos}">
						<button type="button">Volver</button>
					</a>
				</div>
			</form>
			<p th:if="${error}" th:text="${error}" style="color: red;"></p>
			<p th:if="${exito}" th:text="${exito}" style="color: green;"></p>
		</div>
	</main>
	<footer>
		<div class="footer-container">
			<div class="izda">
				<div class="footer-logo">
					<img th:src="@{/imagenes/LOGOPEPU.png}" alt="Logo">
				</div>
			</div>
			<div class="dcha">
				<br>
				<br>
				<br>
				<div class="footer-socials">
					<img th:src="@{/imagenes/insta.png}" alt="Instagram"> <img
						th:src="@{/imagenes/fb.png}" alt="Facebook"> <img
						th:src="@{/imagenes/wa.png}" alt="WhatsApp">
				</div>
				<div class="footer-sections">
					<div class="footer-section contact">
						<h3>Contacto</h3>
						<p>
							<img class="icon" th:src="@{/imagenes/ubicacion.png}"> C/
							Avenida de la Reguera nº7, Langreo, Asturias
						</p>
						<p>
							<img class="icon" th:src="@{/imagenes/mail.png}"> Enviar
							email
						</p>
						<p>
							<img class="icon" th:src="@{/imagenes/telefono.png}">
							985-985-985
						</p>
					</div>
					<div class="footer-section">
						<h3>Enlaces Destacados</h3>
						<ul>
							<li>Conoce nuestros servicios</li>
							<li>Descubre la nueva depilación con hilo</li>
							<li><a th:href="@{/quienessomos}">Quiénes somos</a></li>
						</ul>
					</div>
					<div class="footer-section">
						<h3>Textos Legales</h3>
						<ul>
							<li>Aviso legal</li>
							<li>Política de cookies</li>
							<li>Política de privacidad</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>