<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PEPUCHA - Estética avanzada</title>
<link rel="stylesheet" th:href="@{/css/registrarpersona.css}">

</head>
<body>
	<header>
		<div class="logo">
			<img th:src="@{/imagenes/LOGOPEPU.png}" alt="Logo">
		</div>
	</header>
	  <h2>CLIENTES</h2>
    <main>
        <table>
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>EMAIL</th>
                    <th>TELEFONO</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.telefono}"></td>
                </tr>
            </tbody>
        </table>
        <br><br>
      	<div class="contenedorboton">
					<a th:href="@{/menuadmin}">
						<button type="button">Volver</button>
					</a>
				</div><br><br>
    </main>

</body>
	<!-- Footer -->
	<footer>
		<div class="footer-container">
			<div class="izda">
				<div class="footer-logo">
					<img th:src="@{/imagenes/LOGOPEPU.png}" alt="Logo">
				</div>
			</div>
			<div class="dcha">
				<br>
				<br>
				<br>
				<div class="footer-socials">
					<img th:src="@{/imagenes/insta.png}" alt="Instagram"> <img
						th:src="@{/imagenes/fb.png}" alt="Facebook"> <img
						th:src="@{/imagenes/wa.png}" alt="WhatsApp">
				</div>
				<div class="footer-sections">
					<div class="footer-section contact">
						<h3>Contacto</h3>
						<p>
							<img class="icon" th:src="@{/imagenes/ubicacion.png}"> C/
							Avenida de la Reguera nº7, Langreo, Asturias
						</p>
						<p>
							<img class="icon" th:src="@{/imagenes/mail.png}"> Enviar
							email
						</p>
						<p>
							<img class="icon" th:src="@{/imagenes/telefono.png}">
							985-985-985
						</p>
					</div>
					<div class="footer-section">
						<h3>Enlaces Destacados</h3>
						<ul>
							<li>Conoce nuestros servicios</li>
							<li>Descubre la nueva depilación con hilo</li>
							<li><a th:href="@{/quienessomos}">Quiénes somos</a></li>
						</ul>
					</div>
					<div class="footer-section">
						<h3>Textos Legales</h3>
						<ul>
							<li>Aviso legal</li>
							<li>Política de cookies</li>
							<li>Política de privacidad</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</html>
	